notes/local_notes.md
emlak_scraping/local_test.py
emlak_scraping/emlak_scraping_modules/__pycache__/*

/.idea/.gitignore
/.vs/DEZC-FinalProject/FileContentIndex/5f00d2ea-1f5a-4efe-a9b6-9ac986d6c46d.vsidx
/.idea/DEZC-FinalProject.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.vs/DEZC-FinalProject/FileContentIndex/read.lock
/.vs/slnx.sqlite
/.idea/vcs.xml
/.vs/VSWorkspaceState.json
